/* ノート入力ポップアップ */
.xpDI4.xxtDg._popup {
	width: 720px;
	height: 960px;
	top: calc(50% - 960px / 2);
	max-width: initial;
	overflow: scroll;
}

/* ノート入力欄 */
.xpDI4.xxtDg._popup .x8B0D {
	height: 400px;
}

/* ノートのプレビュー */
.xpDI4.xxtDg._popup .xoGjR {
	height: 400px;
    overflow: scroll;
}

/* ノート入力での絵文字ピッカー */
.xpAOc .omfetrab,
.xpAOc .emojis
{
	width: 720px;
	height: 880px;
}

/* 返信元ノートをスクロール可能にする */
.xynJn.xhv1G {
    overflow: scroll;
}