/* 投稿フォームの要素順序並び替え */
.xpDI4.xxtDg._popup {
    display: flex;
    flex-flow: column;
}
/* header */
.x6ccQ {
    order: 1;
}
/* 返信元 */
.xynJn.xhv1G {
    order: 2;
}
/* CW注意文の入力欄 */
.xxQx9 {
    order: 4;
}
/* ノート本文の入力欄 */
.xnEld {
    order: 5;
}
/* ハッシュタグ */
.xqwIh {
    order: 6;
}
/* プレビュー */
.xEd72.xoGjR {
    order: 7;
}
/* ツールバー（画像添付やアンケート、絵文字ピッカーなど） */
.xkr7J {
    order: 3;
}