/* 大量にリアクションが付いている場合に非表示 */
/* この場合は11個以上リアクションが付いているとき、11個目以降を非表示にします */
/* n + 11 の 11 の数字を変更する */

/* 隠すだけだと分かりづらいので指定数以上リアクションがある場合は詳細ボタンをアクセントカラーにする（お好みで） */
.xDn7E:has(button:nth-child(11)) .ti-dots:before {
	color: var(--accent);
}

/* 隠すだけだと分かりづらいので指定数以上リアクションがある場合はマークを付ける（お好みで） */
.xDn7E:has(button:nth-child(11)) button:last-child:after {
	margin-left: 28px;
	content: "★";
}

/* 指定数以降のリアクションを省略 */
.xDn7E button:nth-child(n + 11) {
	display: none;
}

/* リアクションをホバー（タップ）で表示 */
.xDn7E:hover button:nth-child(n + 11) {
	display: inline-block;
}