/* リアクション選択のサイズ調整 */
/* 基本設定 → リアクション一覧の枠 */
.xaBSl {
    padding: 6px;
}

/* 絵文字のサイズ */
.xaBSl > button > img.xeJ4G.x5kTm,
.xaBSl > button > img.xagin
{
    height: 2.25em;
}

/* 追加ボタンのポップアップサイズ */
.omfetrab.h2[data-v-c741f690] {
    width: 492px;
    height: 640px;
}

/* ==== リアクションシューティング用 ==== */
/* 絵文字選択 */
.omfetrab {
    width: 48em !important;
    height: 640px !important;
}
/* 絵文字のサイズ */
.omfetrab > .emojis section > .body > .item > .emoji {
    height: 2em !important;
}
.omfetrab > .emojis section > .body > .item {
    height: 80px !important;
    width: 80px !important;
}