/* 指定したリアクションをノートや通知欄から消す */
/* ノートに付いたリアクション一覧から消し去ります */
._button.xDRXD.xhTzr:has([title=":chikuwa:"]) {
    display: none;
}
/* 見たくない絵文字の通知を通知欄から消し去ります */
.notification:has(.xAV2R [title=":chikuwa:"]) {
    display: none;
}

/* Unicode絵文字版 */
/* ノートに付いたリアクション一覧から消し去ります */
._button.xDRXD.xhTzr:has([alt="🐶"]) {
    display: none;
}
/* 見たくない絵文字の通知を通知欄から消し去ります */
.notification:has(.xAV2R [alt="🐶"]) {
    display: none;
}