/* HTL以外で画像サイズを変更 */
/* 画像の幅を調整 */
/* デッキスタイルで特定のTLのみ */
/* この場合はデッキ左から数えて3番目のカラムにのみ適用 */
.xrNPB section:nth-child(3) .xcKaF .xkJBF {
    width: 50%;
    /* これを入れると中央揃え */
    margin-left: auto;
    margin-right: auto;
}
/* 画像の高さを調整 */
.xutAY.xsfFg {
	height: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}