/*
 * コード内の`@_kanade_`のところを自分のユーザー名にしてください
 * 3箇所あります
 */
/* ＋ボタンの非表示 */
.x5yeR > a[href="/@_kanade_"] + .xDn7E .xhAPG > button:has(.ti-plus) {
    display: none;
}
/* すでに付いているリアクションを押せないようにする */
.x5yeR > a[href="/@_kanade_"] + .xDn7E .xlT1y > button:hover {
    pointer-events: all;
    cursor: not-allowed;
}
.x5yeR > a[href="/@_kanade_"] + .xDn7E .xlT1y > button:active {
    pointer-events: none;
}