/**
 * アニメーションを減らしていてもねこ耳を動かせるようにする
 */
.xyRmg > .xbyxl > .xhUxx {
    animation: xfFGo 6s infinite;
}
.xyRmg > .xbyxl > .xudJZ {
    animation: xF0Qs 6s infinite;
}
.xyRmg:hover > .xbyxl > .xhUxx {
    animation: xzoAW 1s infinite;
}
.xyRmg:hover > .xbyxl > .xudJZ {
    animation: x7I3Z 1s infinite;
}