/**
 * アイコンは苦手だけどTLで見ていたい人がいる場合に便利かも
 * 
 * [href="/@kanade"] の部分をユーザーIDに変更する
 * リモートサーバでも可。その場合は
 * [href="/@kanade@mfmf.club"] のようにする
 * 指定を増やす場合は最後の行以外をカンマで繋げる
*/

/* ==== タイムライン ==== */
/* プロフ画像とねこ耳を非表示 */
.x5yeR > [href="/@kanade"] > .xraw1,
.x5yeR > [href="/@kanade"] > .xbyxl
{
    display: none;
}

/* アイコンの差し替え */
.x5yeR > [href="/@kanade"]:after
{
    display: inline-block;
    content: "";
    /* 差し替えたい画像のURLを指定してください */
    background: url("https://mfmf.s3.ap-northeast-1.wasabisys.com/media/06c6fd67-2563-4e51-8376-ae3e7db0d2da.png") no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
}

/* ==== 通知欄 ==== */
/* プロフ画像とねこ耳を非表示 */
.xwUec > [href="/@kanade"] > .xraw1,
.xwUec > [href="/@kanade"] > .xbyxl,
.x3YLY > [href="/@kanade"] > .xraw1,
.x3YLY > [href="/@kanade"] > .xbyxl
{
    display: none;
}
/* アイコンの差し替え */
.xwUec > [href="/@kanade"]:after,
.x3YLY > [href="/@kanade"]:after
{
    display: inline-block;
    content: "";
    /* 差し替えたい画像のURLを指定してください */
    background: url("https://mfmf.s3.ap-northeast-1.wasabisys.com/media/06c6fd67-2563-4e51-8376-ae3e7db0d2da.png") no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
}
