/**
 * デフォルトUIでLTLの画像をぼかす
 */
/* 画像サイズを制限 */
.xFdHz:has(.xo5lq.xj7PE.xvOIQ .ti-planet) .xcSej.x3762 .xutAY {
    max-height: 120px !important;
}
/* ぼかしをかける */
.xFdHz:has(.xo5lq.xj7PE.xvOIQ .ti-planet) .xcSej.x3762 .xcKaF {
    filter: blur(16px); /* 大きい数値ほどぼかし度合いが高くなる */
}
/* マウスカーソルを重ねるとぼかしを解除 */
.xFdHz:has(.xo5lq.xj7PE.xvOIQ .ti-planet) .xcSej.x3762 .xcKaF:hover {
    filter: none;
}