* フォロー数 / 被フォロー数の非表示
*/
/* フォロー数 / 被フォロー数を非表示にする */
.ftskorzw>.main>.profile>.main>.status>a:nth-child(n+2) {
   display: none;
}
/* フォロー数 / 被フォロー数を非表示にする（ポップアップ） */
.x4wok > .x33Tu {
   width: 100%;
}
.x4wok > .x33Tu:nth-child(n+2) {
   display: none;
}

/* 「みつける」など */
.xD1mL .x8w8X:nth-child(n+2) {
   display: none;
}